$white:#fff;

.cardB-container {
    @extend .CardB-page;
    
    padding: 20px;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    // background-color: blue;
    .CardB-page {
        @extend .CardB-page;
        position: relative;
        width: 57%;
        height: fit-content;
        // overflow: hidden;

        .Card-date {
            position: absolute;
            padding: 15px;
            width: fit-content;
            background-color: lightblue;

            & {
                color: $white;

            }
        }

        .CardB-content {
            @extend.CardB-content-hide;
            position: absolute;
            width: 400px;
            background-color: $white;
            //top:120px;
            bottom: 0;
            transform: translateY(40px);
            -webkit-transform: translateY(40px);
            -moz-transform: translateY(40px);
            -ms-transform: translateY(40px);
            -o-transform: translateY(40px);
            transition:all .3s ease ;
            -webkit-transition:all .3s ease ;
            -moz-transition:all .3s ease ;
            -ms-transition:all .3s ease ;
            -o-transition:all .3s ease ;





            .CardB-content-title{



                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 15px;
                // background-color: red;   
                width: 100%;

                
            }

            h2,
            .CardB-content-hide {
                padding: 15px;


            }

            .CardB-content-hide {
                h4 {
                    opacity: 0;
                    transition: all .3s ease;
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    -ms-transition: all .3s ease;
                    -o-transition: all .3s ease;
}
            }
        }

        .CardB-image {
            width: 400px;
            height: 550px;
            background: url('https://images.unsplash.com/photo-1496979551903-46e46589a88b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cda12b505afa1beb06e49d89014cbd65&auto=format&fit=crop&w=634&q=80');
            background-size: cover;
            background-position: center center;
        }


    }

}

// hover effect 
.CardB-page:hover {
    .CardB-content   {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
}
    .CardB-content-hide h4{
        opacity: 1;
    }
}